/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilites*/

body{
    font-family: 'Poppins', sans-serif;
}

/*------------
 header styles
 ----------- */

 body{
     margin: 0;
 }
 .header-section{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     background-color: #2D25A0;
     height: 677px;
     margin-bottom: 70px;
 }
 .header-content{
     color: #FFFFFF;
     margin: 207px 102px 240px 156px;

 }
 .header-content h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 25px;
 
 }
 .header-content a{
     color: #FFFFFF;
     text-decoration: none;
 }
 .button{
     background-color: #E02C6D;
     width: 168px;
     height: 44px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .button .button-arrow{
     color: white;
     margin-left: 10px;
 }
 .header-image img{
     width: 556px;
     height: 438px;
     margin: 153px 140px 88px 0px;
 }
 .header-image img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
 }

 /*------------
  player styles
   -----------*/

.player-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 0px 210px 165px 150px;
}
.player{
    width: 300px;
    color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player .player-image img{
    width: 300px;
    height: 256px;
}
.player-content .player-header{
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
}
.player-content .player-prg{
    color: #6C6C6C;
    font-size: 16px;
}

/* ----------
footer styles
 ----------*/

.footer-section{
    margin: 0px 481px 63px 475px;
}
 .footer-logo img{
     width: 484px;
     height: 110px;
 }
.footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-icon a{
    text-decoration: none;
    color: #969BAB;
}
.footer-icon .icon{
    width: 32px;
    height: 32px;
    background-color: #D0DCE8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-weight: 400;
    font-size: 18px;
    color: #404040;
}

/* ---------------------------------------------------------------
   media queries 
-----------------------------------------------------------------*/

 /*------------
  mobile device
  ---------- */

@media only screen and (max-width:688px){
    .header-section{
        grid-template-columns: repeat(1, 1fr);
        height: 695px;
        margin-bottom: 47px;
    }
     .header-content{
        margin: 112px 66px 50px 50px;
    }
    .header-content h1{
       font-weight: 700;
       font-size: 30px;
    }
    .header-image img{
        width: 200px;
        height: 200px;
        margin: 0px 0px 62px 50px;
    }

    .player-section{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        width: 330px;
        margin: 0px 15px 60px 15px;
    }
    .player{
        width: 300px;
        padding: 15px;
    }
    .player .player-image img{
        width: 300px;
    }

    .footer-section{
        margin: 0px 5px 5px 5px;
    }
     .footer-logo img{
         width: 300px;
         height: 80px;
     }
    .footer-logo{
        margin-bottom: 25px;
    }
    .footer-icon{
        margin-bottom: 20px;
    }
    .copyright{
        margin-bottom: 100px;
    }
}

/*--------------
 Tablet Device 
 --------------*/

@media only screen and (min-width:688px) and (max-width:992px){
    .header-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .header-content{
        margin: 120px 70px 50px 60px;
    }
    .header-content h1{
       font-weight: 700;
       font-size: 36px;
       line-height: 25px;
    }
    .header-image img{
        width: 400px;
        height: 300px;
        margin: 153px 140px 88px 0px;
    }

    .player-section{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        width: 330px;
        margin: 0px 15px 100px 15px;
    }
    .player{
        width: 300px;
        padding: 15px;
    }
    .player .player-image img{
        width: 300px;
    }

    .footer-section{
        margin: 0px 5px 5px 5px;
    }
     .footer-logo img{
         width: 300px;
         height: 80px;
     }
    .footer-logo{
        margin-bottom: 25px;
    }
    .footer-icon{
        margin-bottom: 20px;
    }
    .copyright{
        margin-bottom: 100px;
    }
}


